/* Navigation Bar Container */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1px 10px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 100px;
    color: #e78c6b;
}

#dynamicTitle {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 0;
}

#dynamicSubtitle {
    font-size: 10px;
    margin-top: 0;
    margin-right: 20px;
}

/* Navigation Links */

#navbar a {
    text-decoration: none;
    color: #e78c6b;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

#navbar a:first-child {
    margin-left: 40px;
}

#navbar a:last-child {
    /* No margin on last link */
    margin-right: 20px;
}

#navbar a:hover {
    color: #d73f09
}

#navbar a:visited {
    text-decoration: none;
}