body {
    font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 16px;
    line-height: 1.75;
    background-color: #333;
    height: 100vh;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: calc(100vh - 150px);
}

.tagline {
    flex-basis: 18%;
    text-align: right;
    font-size: 36px;
    padding: 20px;
    opacity: 1;
    color: #f2f2f2;
    font-weight: bold;
    margin-right: 3%;
}

.memo {
    flex-basis: 40%;
    padding: 10px;
    box-sizing: border-box;
    color: #f2f2f2;
    font-size: 18px;
}